<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="" />
<meta name="robots" content="NOARCHIVE,NOCACHE" />
<meta HTTP-EQUIV="pragma" content="no-cache"> 
<meta HTTP-EQUIV="Cache-Control" content="no-cache, must-revalidate"> 
<meta HTTP-EQUIV="expires" content="0">
<link rel="shortcut icon" type="image/png" href="<{$APP_PATH}>/i/images/logo.png" />
<link rel="stylesheet" type="text/css" href="<{$APP_PATH}>/i/css/admin/vfb2b.css" />
<link rel="stylesheet" type="text/css" href="<{$APP_PATH}>/i/css/admin/main.css" />
<script type="text/javascript" src="<{$APP_PATH}>/i/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="<{$APP_PATH}>/i/js/admin/vfb2b.js"></script>
<script type="text/javascript">
$(function(){
    $("input[name='house_head']").on('click',function(){
        if($("input[name='house_head']").is(':checked')){
          $('#tr_phone').removeClass('hide');
          $('#tr_email').removeClass('hide');
          $('#tr_address').removeClass('hide');
          $('#tr_head_id').addClass('hide');
        }
        else{
          $('#tr_phone').addClass('hide');
          $('#tr_email').addClass('hide');
          $('#tr_address').addClass('hide');
          $('#tr_head_id').removeClass('hide'); 
        }
    });
});
    
function submitForm(){
  $('#name').dbaFieldChecker({rules:{required:[true, '姓名不能为空'], maxlen:[60, '姓名不能超过60个字符']}});
  if($("input[name='house_head']").is(':checked'))
  {
 //    $('#email').dbaFieldChecker({rules:{required:[true, '电子邮箱不能为空'], email:[true, '无效的电子邮箱地址']}}); 
     $('#phone').dbaFieldChecker({rules:{required:[true, '电话不能为空'], phone:[true, '无效的电话格式']}});
  }
  else
  {
     if($('#tr_head_id').val() == '')
         $("select[name='head_id']").dbaFieldChecker({rules:{required:[true, 'Choose a house head']}});
      else
         $("select[name='head_id']").dbaFieldChecker({rules:{required:[false, 'Choose a house head']}}); 
         
  }
    
  $('form').dbaFormChecker();
}

</script>
</head>
<body>
<{if $_GET['a'] == 'addMember'}>
<div class="content">
  <div class="loc"><h1><i class="icon"></i>添加细胞小组成员</h1></div>
  <form method="post" action="<{url m=$MOD c='cellgroups' a='addMember' step='submit'}>">
    <input type="hidden" name="<{$_SESSION.ADMIN_FORM_TOKEN.KEY}>" value="<{$_SESSION.ADMIN_FORM_TOKEN.VAL}>" />
    <div class="box">
      <div class="module">
        <table class="dataform">
          <tr>
            <th width="300">姓名/Name</th>
            <td><input class="w200 txt" name="name" id="name" type="text" /><p class="c999 mt10">Please fill in member's name</p></td>
          </tr>
          <tr>
            <th>户主/Head of House</th>
            <td>
                <input type="checkbox" name="house_head" id="house_head" value="1" /> Is head of house ?
                <p class="c999 mt10">If this member is head of house, please check</p>
            </td>
          </tr>
          <tr id="tr_head_id">
            <th>选择户主/Choose Head of House</th>
            <td>
              <select name="head_id">
                <option value=''>Choose a house head</option>
                <{foreach $heads as $head}>
                  <option value="<{$head.member_id}>"><{$head.name}></option>
                <{/foreach}>
              </select>
            </td>
          </tr>
          <tr id="tr_phone" class="hide">
            <th>电话/Phone</th>
            <td><input class="w200 txt" name="phone" id="phone" type="text" /><p class="c999 mt10">Please fill in member's phone number</p></td>
          </tr>
          <tr id="tr_email" class="hide">
            <th>电邮/Email</th>
            <td><input class="w200 txt" name="email" id="email" type="text" /><p class="c999 mt10">Please fill in member's email</p>
            </td>
          </tr>
          <tr id="tr_address" class="hide">
            <th>住址/Address</th>
            <td><input class="w200 txt" name="address" id="address" type="text" /><p class="c999 mt10">Please fill in member's address</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="submitbtn">
        <p class="mt20"><button type="button" class="ubtn btn" onclick="submitForm()">提交</button></p>
      </div>
    </div>
  </form>
</div>
<{else}>
<div class="content">
  <div class="loc"><h1><i class="icon"></i>编辑小组成员信息</h1></div>
  <form method="post" action="<{url m=$MOD c='cellgroups' a='editMember' step='submit'}>">
    <input type="hidden" name="id" value="<{$member.member_id}>" />
    <input type="hidden" name="<{$_SESSION.ADMIN_FORM_TOKEN.KEY}>" value="<{$_SESSION.ADMIN_FORM_TOKEN.VAL}>" />
    <div class="box">
      <div class="module">
        <table class="dataform">
          <tr>
            <th width="300">姓名/Name</th>
            <td><input class="w200 txt" name="name" id="name" type="text" value="<{$member.name}>" /><p class="c999 mt10">Please fill in member's name</p></td>
          </tr>
          <tr>
            <th>户主/Head of House</th>
            <td>
                <input type="checkbox" name="house_head" id="house_head" value="1" <{if $member.house_head == 1}>checked<{/if}> /> Is head of house ?
                <p class="c999 mt10">If this member is head of house, please check</p>
            </td>
          </tr>
          <tr id="tr_head_id" <{if $member.house_head == 1}>class="hide"<{/if}>>
            <th>选择户主/Choose Head of House</th>
            <td>
              <select name="head_id">
                <{foreach $heads as $head}>
                  <option value="<{$head.member_id}>" <{if $member.head_id == $head.member_id}>selected<{/if}>><{$head.name}></option>
                <{/foreach}>
              </select>
            </td>
          </tr>
          <tr id="tr_phone" <{if $member.house_head == 0}>class="hide"<{/if}>>
            <th>电话/Phone</th>
            <td><input class="w200 txt" name="phone" id="phone" type="text" value="<{$member.phone}>" /><p class="c999 mt10">Please fill in member's phone number</p></td>
          </tr>
          <tr id="tr_email" <{if $member.house_head == 0}>class="hide"<{/if}>>
            <th>电邮/Email</th>
            <td><input class="w200 txt" name="email" id="email" type="text" value="<{$member.email}>" /><p class="c999 mt10">Please fill in member's email</p>
            </td>
          </tr>
          <tr id="tr_address" <{if $member.house_head == 0}>class="hide"<{/if}>>
            <th>住址/Address</th>
            <td><input class="w200 txt" name="address" id="address" type="text" value="<{$member.address}>" /><p class="c999 mt10">Please fill in member's address</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="submitbtn">
        <p class="mt20"><button type="button" class="ubtn btn" onclick="submitForm()">提交修改</button></p>
      </div>
    </div>
  </form>
</div>
<{/if}>
</body>
</html>